*{margin: 0; padding: 0; box-sizing: border-box;}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
}
.page-layout{
  height: 100vh;
}
.aside{
  width: 20vw !important;
  max-width: 300px;
  min-width: 250px;
}
.header{
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.logo{
  a{
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #409EFF;
  }  
}